
.column{
    display: inline;;
    float: up;
    width: 25%;
     border-width: 5px;
    padding: 20px 30px;
     

}

.column li{
    list-style:none;
}

ul{
    margin: 0;
    padding: 10px 0;
    float:none;
}

li.hamza {
    float: none;
    cursor: pointer;
    background-color: #00b7ee;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    color: #fff;
    padding: 20px 30px;
    position: relative;
}

li.hamza:hover {
    background-color: #3498db;
}

.choosen {
    background-color: #808080; !important;
}

.page-arrow {
    position: absolute;
    right: 10px;
    top: 15px;
    width: 0px;
    height: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
}

.page-btn {
    position: absolute;
    right: 32px;
    bottom: 16px;
}
